section.home__banner
  .row.middle-xs
    .col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-10
      h1.home__banner-title.text-color--primary Actualiza tu mundo
      p.text-color--grey.text-font-family--secondary  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
      button.btn.btn-outline--secondary 
        span Compra en línea 
        i.fas.fa-angle-right
    .home__banner-social
      a
        i.fab.fa-facebook-f
      a
        i.fab.fa-instagram
      a
        i.fab.fa-twitter
        
