section.home__banner
  .container
    .row.middle-xs
      .col-lg-5.col-md-5.col-sm-6.col-xs-12.pl-10
        h1.home__banner-title.text-color--primary.TechnicalForest-Bold Actualiza tu mundo
        p.home__banner-paragraph.text-color--grey.text-font-family--secondary Aquí encontrarás todas las soluciones digitales que buscas al alcance de un clic. Es hora de reimaginar el futuro. Hagámoslo juntos.
        button.btn.btn-outline--secondary 
          span Compra en línea 
          i.fas.fa-angle-right
      .home__banner-social
        a(href="https://www.facebook.com/CDComputo/" target="_blank")
          i.fab.fa-facebook-f
        a(href="https://www.instagram.com/cdcomputo/?hl=es-la" target="_blank")
          i.fab.fa-instagram
        a
          i.fab.fa-twitter
  img.home__banner-left(src="source/img/home-left-corner.png")
  img.home__banner-right(src="source/img/home-right-corner.png")
        
