.brand-list.row.container
    .col-lg-3.col-md-3.col-sm-12.col-xs-12.brand-list__separator
      p Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
    .col-lg-9.col-md-9.col-sm-12.col-xs-12.row.middle-xs.center-xs
      .brand-list__logos
        img(src="source/img/brandLogos/sony_logo.png")
        img(src="source/img/brandLogos/sony_logo.png")
        img(src="source/img/brandLogos/sony_logo.png")
        img(src="source/img/brandLogos/sony_logo.png")
        img(src="source/img/brandLogos/sony_logo.png")
  
