.clients.row.middle-xs.container
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .clients__owl-carousel.owl-carousel.owl-theme.owl-loaded.owl-drag
      .clients__owl-carousel-item(data-hash="sempertex")
        img(src="source/img/clientsLogos/sempertex.png")
        h1.TechnicalForest-Bold Sempertex
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="marval")
        img(src="source/img/clientsLogos/marval.png")
        h1.TechnicalForest-Bold Marval
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="norte")
        img(src="source/img/clientsLogos/norte.jpeg")
        h1.TechnicalForest-Bold Universidad Del Norte
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="g.atlantico")
        img(src="source/img/clientsLogos/g-atlantico.png")
        h1.TechnicalForest-Bold Gobernaci칩n Del Atl치ntico
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="policia")
        img(src="source/img/clientsLogos/policia.png")
        h1.TechnicalForest-Bold Policia Metropolitana De Barranquilla
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="alcaldia")
        img(src="source/img/clientsLogos/alcaldia.png")
        h1.TechnicalForest-Bold Alcaldia De Barranquilla
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="electricaribe")
        img(src="source/img/clientsLogos/electricaribe.png")
        h1.TechnicalForest-Bold Electricaribe
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .clients__owl-carousel-item(data-hash="espriellaLawyers")
        img(src="source/img/clientsLogos/espriellalawyer.png")
        h1.TechnicalForest-Bold De La Espriella Lawyers
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .row.middle-xs.TechnicalForest-Regular.margin-top--40
      span.services__line
      span Clientes
  .owl-carousel__buttons
    button.customPreviousBtn 
      i.fas.fa-chevron-left
    button.customNextBtn 
      i.fas.fa-chevron-right
  .col-lg-6.col-md-6.col-sm-6.col-xs-12.position--relative.clients__list-names-container
    .TechnicalForest-Bold.clients__list-names-btn
      i.fas.fa-chevron-left
      span mas clientes
    ul.clients__list-names
      li.item 
        a(href="#sempertex") Sempertex
      li.item 
        a(href="#marval") Marval
      li.item 
        a(href="#norte") Universidad Del Norte
      li.item 
        a(href="#g.atlantico") Gobernaci칩n Del Atl치ntico
      li.item 
        a(href="#policia") Policia Metropolitana De Barranquilla
      li.item 
        a(href="#alcaldia") Alcaldia De Barranquilla
      li.item 
        a(href="#electricaribe") Electricaribe
      li.item 
        a(href="#espriellaLawyers") De La Espriella Lawyers
