.clients.row.middle-xs.container(data-aos="fade-up")
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .clients__owl-carousel.owl-carousel.owl-theme.owl-loaded.owl-drag
      .clients__owl-carousel-item(data-hash="sempertex")
        img(src="source/img/clientsLogos/sempertex.png")
        h1.TechnicalForest-Bold Sempertex
        p Empresa dedicada a la produccion de productos para la decoracacion de fiestas.
      .clients__owl-carousel-item(data-hash="marval")
        img(src="source/img/clientsLogos/marval.png")
        h1.TechnicalForest-Bold Marval
        p Marval es una constructora especializada en proyectos de vivienda, locales y oficinas en Colombia.
      .clients__owl-carousel-item(data-hash="norte")
        img(src="source/img/clientsLogos/norte.jpeg")
        h1.TechnicalForest-Bold Universidad Del Norte
        p La Fundación Universidad del Norte es una institución de educación superior colombiana con sede en Barranquilla.
      .clients__owl-carousel-item(data-hash="g.atlantico")
        img(src="source/img/clientsLogos/g-atlantico.png")
        h1.TechnicalForest-Bold Gobernación Del Atlántico
      .clients__owl-carousel-item(data-hash="policia")
        img(src="source/img/clientsLogos/policia.png")
        h1.TechnicalForest-Bold Policia Metropolitana De Barranquilla
        p Conoce la Policía Metropolitana de Barranquilla, encargada de velar por la seguridad y convivencia de la ciudad Barranquilla.
      .clients__owl-carousel-item(data-hash="alcaldia")
        img(src="source/img/clientsLogos/alcaldia.png")
        h1.TechnicalForest-Bold Alcaldia De Barranquilla
        p La Alcaldia De Barranquilla es el ente territorial garante del acceso a bienes y servicios en condiciones de equidad, del desarrollo social, la gestión integral del territorio, la seguridad y promoción social para el desarrollo, que facilita la inversión privada para la generación de crecimiento económico y empleo, mediante un proceso participativo de sus ciudadanos.
      .clients__owl-carousel-item(data-hash="electricaribe")
        img(src="source/img/clientsLogos/electricaribe.png")
        h1.TechnicalForest-Bold Electricaribe
        p Electricaribe es una empresa colombiana originaria de la Costa Caribe que esta encargada de la distribución y comercialización de energía eléctrica
      .clients__owl-carousel-item(data-hash="espriellaLawyers")
        img(src="source/img/clientsLogos/espriellalawyer.png")
        h1.TechnicalForest-Bold De La Espriella Lawyers
        p De La Espriella Lawyers es una firmas de abogados con sede en Barranquilla, Bogotá, Medellín y Miami
    .row.middle-xs.TechnicalForest-Regular.margin-top--40
      span.services__line
      span Clientes
  .owl-carousel__buttons
    button.customPreviousBtn 
      i.fas.fa-chevron-left
    button.customNextBtn 
      i.fas.fa-chevron-right
  .col-lg-6.col-md-6.col-sm-6.col-xs-12.position--relative.clients__list-names-container
    .TechnicalForest-Bold.clients__list-names-btn.customNamesNextBtn
      i.fas.fa-chevron-left
      span mas clientes
    .clients-names__owl-carousel.owl-carousel.owl-theme.owl-loaded.owl-drag
      ul.clients__list-names
        li.item 
          a(href="#sempertex") Sempertex
        li.item 
          a(href="#marval") Marval
        li.item 
          a(href="#norte") Universidad Del Norte
        li.item 
          a(href="#g.atlantico") Gobernación Del Atlántico
      ul.clients__list-names
        li.item 
          a(href="#policia") Policia Metropolitana De Barranquilla
        li.item 
          a(href="#alcaldia") Alcaldia De Barranquilla
        li.item 
          a(href="#electricaribe") Electricaribe
        li.item 
          a(href="#espriellaLawyers") De La Espriella Lawyers
