.ecommerce-banner 
  .ecommerce-banner__left-img
    img(src="source/img/ecommerce-banner-01.png" data-aos="fade-right")
  .ecommerce-banner__right-img
    img(src="source/img/ecommerce-banner-02.png" data-aos="fade-left")
  .container
    .row.middle-xs
      .col-lg-8
        h1.TechnicalForest-Regular Compra en línea
        p Estás a un clic de distancia de ese producto que tanto buscas.
      .col-lg-4.center-xs
        button.btn.btn-square-outline--secondary.TechnicalForest-Regular
          span Compra en línea
          i.fas.fa-angle-right