.ecommerce-banner 
  .ecommerce-banner__left-img
    img(src="source/img/ecommerce-banner-01.png")
  .ecommerce-banner__right-img
    img(src="source/img/ecommerce-banner-02.png")
  .container
    .row.middle-xs
      .col-lg-8
        h1.TechnicalForest-Regular Compra en línea
        p Lorem ipsum dolor sit amet.
      .col-lg-4.center-xs
        button.btn.btn-square-outline--secondary.TechnicalForest-Regular
          span Compra en línea
          i.fas.fa-angle-right
