.home-services
  .container.row
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      h1.home-services__title.TechnicalForest-Bold Lorem ipsum dolor sit amet
      p.home-services__paragrhap Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.col-md-8.col-sm-12.col-xs-12.row.home-services__img-container
      .col-xs-12
        .row.middle-xs.TechnicalForest-Regular
          span.home-services__line
          span Servicios
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        img(src="source/img/homeServices/service-01.png")
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        img(src="source/img/homeServices/service-02.png")
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        img(src="source/img/homeServices/service-03.png")
    .home-services__icon-container.row.TechnicalForest-Regular
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.home-services__icon-card
        i.far.fa-smile-wink
        p Lorem
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.home-services__icon-card
        i.far.fa-smile-wink
        p Lorem
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.home-services__icon-card
        i.far.fa-smile-wink
        p Lorem
      .col-lg-3.col-md-3.col-sm-3.col-xs-6.home-services__icon-card
        i.far.fa-smile-wink
        p Lorem
