.services
  .services__banner
    img.services__banner-bg-left(data-aos="fade-right" src="source/img/services/service-banner-left.png")
    img.services__banner-bg-right(data-aos="fade-left" src="source/img/services/service-banner-right.png")
    .row.container.middle-xs.center-xs
      .col-lg-6
        .services__banner-title.TechnicalForest-Bold Lorem ipsum dolor sit amet consectetur 
  .row.center-xs.container
    .col-lg-9.col-md-9.col-sm-7.col-xs-12.row.services__services-container
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.services__services-card
        img(src="source/img/aboutUs/services/servicio-especializado.png")
        p Servicio 
        p especializado
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.services__services-card
        img(src="source/img/aboutUs/services/servicio-mantenimiento.png")
        p Servicio de
        p mantenimiento
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.services__services-card
        img(src="source/img/aboutUs/services/instalacion-configuracion.png")
        p Instalación y
        p configuración
      .col-lg-3.col-md-3.col-sm-6.col-xs-6.services__services-card
        img(src="source/img/aboutUs/services/garantia.png")
        p Garantía
