.services__details
  .container.row.middle-xs
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img(src="source/img/services/services-1.png" data-aos="zoom-in")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio 
          h1.services__details-title.TechnicalForest-Bold especializado
          p Nuestros más de 20 años en el mercado nos convierten en una fuente conable para recibir tus equipos y prestarles la mejor atención técnica del mercado. Contamos con un servicio técnico especializado que recibirá tus equipos y te los entregará como nuevos, cumpliendo con garantías y la seguridad necesaria.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img.display--mobile(src="source/img/services/services-2.png" data-aos="zoom-in")
        .display--desktop.services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de 
          h1.services__details-title.TechnicalForest-Bold mantenimiento
          p Contamos con un grupo de profesionals capacitados para realizar mantenimientos y revisiones a tus equipos, contando con la garantía y el respaldo de nuestra experiencia. Tu tecnología estará en buenas manos.
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        img.display--desktop(src="source/img/services/services-2.png" data-aos="zoom-in")
        .display--mobile.services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de 
          h1.services__details-title.TechnicalForest-Bold mantenimiento
          p Contamos con un grupo de profesionals capacitados para realizar mantenimientos y revisiones a tus equipos, contando con la garantía y el respaldo de nuestra experiencia. Tu tecnología estará en buenas manos.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img(src="source/img/services/services-3.png" data-aos="zoom-in")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de instalación
          h1.services__details-title.TechnicalForest-Bold y configuración
          p ¿Necesitas apoyo con la instalación y conguración de tus equipos? En CD Cómputo contarás con los requerimientos necesarios para poner a punta la tecnología de tu necesidad.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img.display--mobile(src="source/img/services/services-4.png" data-aos="zoom-in")
        .display--desktop.services__details-container
          h1.services__details-title.TechnicalForest-Bold Garantia
          p.p-last Somos distribuidores autorizados de las principales marcas del mercado tecnológico en la ciudad, por lo que puedes estar tranquilo; todos tus equipos contarán con la garantía y el respaldo ante cualquier daño o falla.
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        img.display--desktop(src="source/img/services/services-4.png" data-aos="zoom-in")
        .display--mobile.services__details-container
          h1.services__details-title.TechnicalForest-Bold Garantia
          p.p-last Somos distribuidores autorizados de las principales marcas del mercado tecnológico en la ciudad, por lo que puedes estar tranquilo; todos tus equipos contarán con la garantía y el respaldo ante cualquier daño o falla.
