.services__details
  .container.row.middle-xs
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img(src="source/img/services/services-1.png")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio 
          h1.services__details-title.TechnicalForest-Bold especializado
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img.display--mobile(src="source/img/services/services-2.png")
        .display--desktop.services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de 
          h1.services__details-title.TechnicalForest-Bold mantenimiento
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        img.display--desktop(src="source/img/services/services-2.png")
        .display--mobile.services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de 
          h1.services__details-title.TechnicalForest-Bold mantenimiento
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img(src="source/img/services/services-1.png")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .services__details-container
          h1.services__details-title.TechnicalForest-Bold Servicio de instalación
          h1.services__details-title.TechnicalForest-Bold y configuración
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-xs-12.row.middle-xs
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.services__details-img
        img.display--mobile(src="source/img/services/services-2.png")
        .display--desktop.services__details-container
          h1.services__details-title.TechnicalForest-Bold Garantia
          p.p-last Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        img.display--desktop(src="source/img/services/services-2.png")
        .display--mobile.services__details-container
          h1.services__details-title.TechnicalForest-Bold Garantia
          p.p-last Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
