doctype html
html
  include ./source/includes/shared/head.pug
  body
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/aboutUs/banner.pug
    include ./source/includes/aboutUs/values.pug
    include ./source/includes/aboutUs/team.pug
    include ./source/includes/shared/footer.pug
    script(type="text/javascript" src="index.js")
