- var brands = ['source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png']
include ./source/mixin/head.pug
include ./source/mixin/brandList.pug
include ./source/mixin/gamersCarouselItem.pug

doctype html
html
  +head('CDCOMPUTO - GAMERS', 'testing')
  body
    include ./source/includes/shared/page-spinner.pug
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/gamers/banner.pug
    +brandList('Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod', brands)
    include ./source/includes/gamers/carousel/bodyCarousel.pug
    include ./source/includes/shared/contact-us.pug
    include ./source/includes/shared/footer.pug
    include ./source/includes/shared/scripts.pug
