doctype html
html
  include ./source/includes/shared/head.pug
  body
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/home/banner.pug
    include ./source/includes/home/brandList.pug
    include ./source/includes/home/services.pug
    include ./source/includes/home/ecommerceBanner.pug
    include ./source/includes/home/clients.pug
    script(src="index.js")
    script(type="text/javascript" src="font/MyFontsWebfontsKit.js")
