- var brands = ['source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png', 'source/img/brandLogos/sony_logo.png']
include ./source/mixin/head.pug
include ./source/mixin/brandList.pug

doctype html
html
  +head('CDCOMPUTO', 'testing')
  body
    include ./source/includes/shared/page-spinner.pug
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/home/banner.pug
    +brandList('Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod', brands)
    include ./source/includes/home/services.pug
    include ./source/includes/home/ecommerceBanner.pug
    include ./source/includes/home/clients.pug
    include ./source/includes/shared/footer.pug
    include ./source/includes/shared/scripts.pug
