include ./source/mixin/head.pug

doctype html
html
  +head('CDCOMPUTO - SERVICIOS', 'testing')
  body
    include ./source/includes/shared/page-spinner.pug
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/services/banner.pug
    include ./source/includes/services/services.pug
    include ./source/includes/shared/contact-us.pug
    include ./source/includes/shared/footer.pug
    include ./source/includes/shared/scripts.pug
