doctype html
html
  include ./source/includes/shared/head.pug
  body
    include ./source/includes/shared/navbar.pug
    include ./source/includes/shared/subscriptionList.pug
    include ./source/includes/services/banner.pug
    include ./source/includes/services/services.pug
    include ./source/includes/shared/footer.pug
    script(type="text/javascript" src="index.js")
