.TechnicalForest-Regular {
	font-family: "TechnicalForest-Regular" !important;
	font-weight: normal;
	font-style: normal;
}
.TechnicalForest-Light {
	font-family: "TechnicalForest-Light" !important;
	font-weight: normal;
	font-style: normal;
}
.TechnicalForest-Bold {
	font-family: "TechnicalForest-Bold" !important;
	font-weight: normal;
	font-style: normal;
}
