.TechnicalForest-Regular {
	font-family: "TechnicalForest-Regular";
	font-weight: normal;
	font-style: normal;
}
.TechnicalForest-Light {
	font-family: "TechnicalForest-Light";
	font-weight: normal;
	font-style: normal;
}
.TechnicalForest-Bold {
	font-family: "TechnicalForest-Bold";
	font-weight: normal;
	font-style: normal;
}
