.margin-top--40 {
  margin-top: 40px;
}

.margin-top--20 {
  margin-top: 20px;
}

.margin-bottom--20 {
  margin-top: 20px;
}

.margin--flush {
  margin: 0;
}

.padding {
  &--horizontal {
    &-tiny {
      padding: 0 15px;
    }
  }
  &--bottom {
    &-50 {
      padding-bottom: 50px;
    }
  }
}
