.about-us {
  &__values {
    padding: 90px 0;
    text-align: center;
    background: #F4FAFB;
    &-title {
      margin: 0 0 30px;
    }
    &-description {
      color: $dark;
      margin: 0;
      line-height: 30px;
    }
    &-card {
      background: $white;
      text-align: center;
      border-radius: 6px;
      max-width: 242px;
      padding: 30px 32px;
      margin: 0 auto;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
      &:hover {
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .5);
      }
      i {
        font-size: 50px;
      }
    }
    &-container {
      margin-top: 40px;
    }
  }
}
