.gamers {
  &__banner {
    padding-top: 77px;
    height: 83vh;
    background: radial-gradient(circle, $white 0%, #EAE9E9 70%) no-repeat !important;
    .row {
      height: auto;
      text-align: center;
    }
    &-title {
      font-size: 3em;
      color: $primary-color;
    }
    &-img {
      width: 100%;
    }
    &-text {
      text-align: center;
    }
  }
  @media screen and (min-width: $screen-medium) {
    .row {
      height: 100%;
    }
    &-text {
      text-align: left;
    }
    &-title {
      font-size: 8em;
    }
  }
}
