.products {
  overflow: hidden;
  &-categories {
    overflow-y: scroll;
    padding-bottom: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    &__scroll {
      display: none;
      display: flex;
      align-items: center;
      color: #6A6A6A;
      .fa-arrow-left {
        margin-right: 10px;
        cursor: pointer;
      }
      .fa-arrow-right {
        margin-left: 10px;
        cursor: pointer;
      }
    }
    &__container {
      overflow: hidden;
    }
    &__item {
      background-color: #000;
      padding: 10px;
      margin: 0 10px 20px;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 #000;
      display: inline-block;
      width: 400px;
      button {
        margin-right: 33px;
      }
      p {
        white-space: normal;
      }
    }
  }
  &__banner {
    margin-top: 98px;
    .row {
      height: 90vh;
    }
    &-titles {
      padding-left: 14%;
      padding-top: 5%;
      .btn {
        margin-top: 20px;
      }
      h1 {
        font-size: 50px;
        margin: 0;
      }
      p {
        font-size: 30px;
        margin: 10px 0 0;
      }
    }
    .tabs-link.current {
      color: $white;
    }
    .tabs-content {
      margin-top: 79px;
      img {
        position: absolute;
        left: -15%;
        width: 30%;
      }
    }
  }
  &__types {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 115px;
    .item {
      margin-bottom: 20px;
      color: $secondary-color-hover;
      cursor: pointer;
    }
  }
  &__body {
    &-categories {
      color: #fff;
    }
    &-video {
      top: -30%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
      &--bg {
        position: absolute;
        max-width: 300px;
      }
      &--bg.right {
        right: 0;
        bottom: 0;
      }
      &--bg.left {
        left: 0;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &-container {
        position: relative;
        height: 50vh;
      }
    }
    &-products {
      margin-top: 50px;
    }
    &-container {
      margin-top: 90px;
      &-price {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        p {
          margin: 0;
        }
      }
      &-paragraph {
        margin-bottom: 50px;
        line-height: 2.5;
        color: $grey-font;
      }
    }
    &-brands {
      list-style: none;
      padding: 20px 0;
      &-item {
        display: inline-block;
        img {
          width: 100%;
          max-width: 200px;
        }
      }
    }
  }
}

@keyframes slidein-animation {
  0% {
    opacity: 0;
  }

  1% {
    transform: translateX(160px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
