.services {
  &__navbar {
    height: 25vh;
  }
  &__banner {
    margin-top: 98px;
    background-color: $secondary-color;
    height: 50vh;
    position: relative;
    .row {
      height: 100%;
    }
    &-bg-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 20%;
    }
    &-bg-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 16%;
    }
    &-title {
      font-size: 30px;
      color: white;
      text-align: center;
      @media screen and (min-width: $screen-medium) {
        font-size: 50px;
      }
    }
  }
  &__services-container {
    background: $white;
    box-shadow: 0 2px 20px 0 rgba(237, 248, 255, 1);
    padding: 20px 0;
    border-radius: 6px;
    margin-top: -50px;
    position: relative;
  }
  &__services {
    &-card {
      position: relative;
      margin-bottom: 20px;
      img {
        margin-bottom: 30px;
      }
      p {
        margin: 0;
        color: $grey-light;
      }
      &:last-child {
        &:after {
          content: "";
          display: none;
        }
      }
      &:after {
        content: "";
        background-color: #e2e2e2;
        position: absolute;
        right: 0px;
        height: 63px;
        width: 4px;
        top: 42px;
        border-radius: 3px;
      }
    }
  }
  &__details {
    margin-top: 100px;

    &-container {
      position: relative;
    }
    &-img {
      text-align: center;
    }
    img {
      width: 50%;
    }
    p {
      color: $grey-light;
      margin-top: 50px;
      &:before {
        content: "";
        top: 69px;
        width: 50px;
        height: 5px;
        border-radius: 30px;
        position: absolute;
        background-color: $secondary-color;
      }
    }
    .p-last {
      &:before {
        top: 46px;
      }
    }
    &-title {
      color: $primary-color;
      margin: 0px;
      font-size: 1.5em;
    }
    @media screen and (min-width: 1023px) {
      &-title {
        font-size: 2em;
      }
      img {
        width: 73%;
      }
      &-img {
        text-align: inherit;
      }
      p {
        &:before {
          top: 79px;
        }
      }
      .p-last {
        &:before {
          top: 56px;
        }
      }
    }
  }
}
