- 
  var items = [
    {brand: 'sony', title: 'Lorem ipsum sit ame.', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
    {brand: 'nintendo', title: 'Lorem ipsum sit ame.', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
    {brand: 'playStation', title: 'Lorem ipsum sit ame.', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'},
  ]

.gamers__carousel
  +item(items)
