.contact-us {
  color: $white;
  background-color: $primary-color;
  position: relative;
  padding-top: 60px;
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
  }
  &__title {
    font-size: 60px;
    opacity: 0.45;
  }
  &__btn {
    position: absolute;
    right: 0;
    bottom: 40%;
    &-icon {
      margin-bottom: 20px;
    }
    a {
      color: $primary-color-dark;
      border-radius: 50px;
      background-color: $white;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 10px;
      font-size: 15px;
      cursor: pointer;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
  &__social {
    a {
      color: $primary-color-dark;
      border-radius: 50px;
      background-color: $white;
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 10px;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
