
.contact-us {
  color: $white;
  background: #001D2C;
  .container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
    overflow: hidden;
  }
  .btn {
    float: right;
    margin-top: 40px;
    font-size: 14px;
    padding: 10px 40px;
  }
  .fa-address-card {
    font-size: 30px;
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
  &__text,
  &__form {
    position: relative;
    z-index: 2;
  }
  .map--pointer {
    border-radius: 10px;
    position: absolute;
    background: $secondary-color;
    height: 15px;
    width: 15px;
    z-index: 3;
    bottom: 181px;
    left: 234px;
    animation: pulse 1.5s infinite;
    // animation: 1.6s playShadow ease-out infinite;
    cursor: pointer;
    &-text {
      position: absolute;
      color: $secondary-color;
      z-index: 3;
      bottom: 210px;
      left: 210px;
      font-weight: bold;
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    &-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      background-image: radial-gradient(500px 418px ellipse at 28% 47%, rgba(0, 56, 87, 0.7) 10%, #001D2C 69%);
    }
  }
  &__title {
    font-size: 60px;
    margin: 0;
  }
  &__map {
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    z-index: 3;
    display: none;
    iframe {
      margin-top: -66px;
    }
  }
  &--close {
    padding: 10px;
    position: relative;
    z-index: 4;
    display: flex;
    background: #23a1ad;
    justify-content: space-between;
    font-weight: bold;
    i {
      cursor: pointer;
    }
  }
  &__btn {
    position: absolute;
    right: -52%;
    bottom: 40%;
    &-icon {
      margin-bottom: 20px;
    }
    a {
      color: $primary-color-dark;
      border-radius: 50px;
      background-color: $white;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 10px;
      font-size: 15px;
      cursor: pointer;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
  &__social {
    a {
      color: $primary-color-dark;
      border-radius: 50px;
      background-color: $white;
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 10px;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
  label,
  .form__field:focus ~ .form__label {
    color: $white;
  }
  .form__field {
    border-bottom: 2px solid $white;
  }
  .map-black-white {
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
     filter: grayscale(100%);
  }

  .map--pointer-text,
  .map--pointer {
    display: none;
  }
  @media only screen and (min-width: 64em) {
    &__map {
      width: 500px;
    }
  }
  @media only screen and (min-width: 48em) {
    &__map {
      display: initial;
    }
    .map--pointer-text,
    .map--pointer {
      display: initial;
    }

    &__bg {
      &-overlay {
        background-image: radial-gradient(300px 418px ellipse at 28% 47%, rgba(0, 56, 87, 0.7) 10%, #001D2C 69%);
      }
    }
    &__title {
      font-size: 40px;
    }
    p {
      padding-right: 30px;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 161, 173, 0.4);
    transform: scale(1);
  }
  35% {
    transform: scale(1.08);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 161, 173, 0);
  }
  76% {
    transform: scale(0.96);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 161, 173, 0);
      transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 161, 173, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 161, 173, 0.4);
    transform: scale(1);
  }
  35% {
    transform: scale(1.08);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 161, 173, 0);
      box-shadow: 0 0 0 10px rgba(0, 161, 173, 0);
  }
  76% {
    transform: scale(0.96);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 161, 173, 0);
      box-shadow: 0 0 0 0 rgba(0, 161, 173, 0);
      transform: scale(1);
  }
}
