.ecommerce-banner {
  background-color: $primary-color;
  color: $white;
  padding: 40px 0;
  position: relative;
  &__left-img {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    img {
      height: 100%;
    }
  }
  &__right-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
