.subscription {
  width: 310px;
  height: 94px;
  background-color: $secondary-color;
  padding: 27px 22px;
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 40px;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  &__title {
    font-size: 20px;
  }
  &__paragraph {
    font-size: 14px;
  }
  &__icon {
    font-size: 30px;
  }
}
