.subscription {
  width: 102%;
  height: 56px;
  background-color: $secondary-color;
  padding: 0 20px;
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  background: #00A1AD;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  &--close {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
  }
  &--bg {
    &-left {
      left: 0;
      bottom: 0;
      position: absolute;
      width: 20%;
    }
    &-right {
      right: 0;
      top: 0;
      position: absolute;
      transform: rotate(-180deg);
      width: 30%;
    }
  }
  &__title {
    font-size: 20px;
  }
  &__paragraph {
    font-size: 14px;
  }
  &__icon {
    visibility: hidden;
  }
  &__modal {
    position:fixed;
    display: flex;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:10;
    justify-content: center;
    align-items: center;
    color: $white;
    &--text {
      text-align: left;
      font-size: 20px;
      span {
        font-weight: bold;
        color: $secondary-color;
      }
    }
    &--title {
      margin: 0px;
      text-align: left;
      font-size: 50px;
    }
    .form__field {
      border-bottom: 1px solid $white;
    }
    label,
    .form__field:focus ~ .form__label {
      color: $white;
    }
  }
  &__container {
    position: relative;
    height: 40px;
    width: 40px;
    background: $primary-color;
    z-index: 90;
    border-radius: 1000px;
    transition: all 0.3s;
    &--appear {
      height: 100%;
    }
    .col-xs-4 {
      max-width: 350px;
    }
    .row ,
    .container {
      height: 100%;
    }
    &-expand {
      height: 100vh;
      width: 100%;
      border-radius: 0px;
    }
  }
  @media screen and (min-width: $screen-medium) {
    bottom: 50px;
    right: 40px;
    width: 310px;
    height: 94px;
    padding: 27px 22px;
    &__icon {
      font-size: 30px;
    }
  }
}
