.about-us__banner
  .row.container.middle-xs
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.about-us__banner-text
      h1.TechnicalForest-Bold Queremos reimaginar el futuro. Hagámoslo juntos.
      p.about-us__banner-paragraph En CD Cómputo llevamos más de 15 años siendo la empresa líder en el sector de tecnología e informática en la ciudad, con clientes en el sector público y privado. Con altos estándares de servicio y las principales marcas del mercado. Descubre todas nuestras soluciones digitales al alcance de un clic.
      .row.about-us__banner-details
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.far.fa-building.banner-list--icon
          p.banner-list--title.count 2000
          p.banner-list--subtitle Fundada en
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.fas.fa-tags.banner-list--icon
          p.banner-list--title.count 300
          p.banner-list--subtitle Marcas
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.far.fa-smile.banner-list--icon
          p.banner-list--title.count 300
          p.banner-list--subtitle Cliente
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.fas.fa-users.banner-list--icon
          p.banner-list--title.count 20
          p.banner-list--subtitle Empleados
