.about-us__banner
  .row.container.middle-xs
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.about-us__banner-text
      h1.TechnicalForest-Bold Lorem ipsum dolor sit amet, consectetur adipiscing elit
      p.about-us__banner-paragraph Aorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .row.about-us__banner-details
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.far.fa-building.banner-list--icon
          p.banner-list--title.count 2000
          p.banner-list--subtitle Fundada en
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.fas.fa-tags.banner-list--icon
          p.banner-list--title.count 300
          p.banner-list--subtitle Marcas
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.far.fa-smile.banner-list--icon
          p.banner-list--title.count 300
          p.banner-list--subtitle Cliente
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.banner-list--item
          i.fas.fa-users.banner-list--icon
          p.banner-list--title.count 20
          p.banner-list--subtitle Empleados
