.about-us__team
  img.about-us__team-bg-left(src="source/img/aboutUs/team-bg.png")
  img.about-us__team-bg-right(src="source/img/aboutUs/team-2-bg.png")
  .row.container
    .col-lg-7
      i.about-us__team-icon.fas.fa-users
      h1.about-us__team-title.TechnicalForest-Bold Lorem ipsum dolor sit amet
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    .col-lg-5
      .row
        .col-lg-6
