.about-us__team
  img.about-us__team-bg-left(src="source/img/aboutUs/team-bg.png")
  img.about-us__team-bg-right(src="source/img/aboutUs/team-2-bg.png")
  .row.container.position--relative
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.row.middle-xs.about-us__team-titles
      div
        .col-xs-12
          i.about-us__team-icon.fas.fa-users
          h1.about-us__team-title.TechnicalForest-Bold Lorem ipsum
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      .row
        .col-lg-6.col-md-6.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/team-img.png")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/team-img.png")
                .TechnicalForest-Bold Jhon Doe
                div Lorem ipsum dolor sit amet.
        .col-lg-6.col-md-6.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="100")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/team-img.png")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/team-img.png")
                .TechnicalForest-Bold Jhon Doe
                div Lorem ipsum dolor sit amet.
        .col-lg-6.col-md-6.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="200")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/team-img.png")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/team-img.png")
                .TechnicalForest-Bold Jhon Doe
                div Lorem ipsum dolor sit amet.
        .col-lg-6.col-md-6.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/team-img.png")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/team-img.png")
                .TechnicalForest-Bold Jhon Doe
                div Lorem ipsum dolor sit amet.
