.about-us__team
  img.about-us__team-bg-left(src="source/img/aboutUs/team-bg.png")
  img.about-us__team-bg-right(src="source/img/aboutUs/team-2-bg.png")
  .row.container.position--relative
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.row.middle-xs.about-us__team-titles
      div
        .col-xs-12
          i.about-us__team-icon.fas.fa-users
          h1.about-us__team-title.TechnicalForest-Bold Quiénes somos:
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          p Conoce a la familia CD Cómputo, quienes trabajan para hacer tu vida mucho más sencilla.
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesor Comercial - Danyerson Rodriguez.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesor Comercial - Danyerson Rodriguez.jpg")
                .TechnicalForest-Bold.about-us__team--card-title Danyerson Rodriguez
                div.about-us__team--card-description Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="100")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesor Comercial - Heydy Martinez.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesor Comercial - Heydy Martinez.jpg")
                .TechnicalForest-Bold Heydy Martinez
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="200")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesor Comercial - Javier Castillo.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesor Comercial - Javier Castillo.jpg")
                .TechnicalForest-Bold Javier Castillo
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesor Comercial - Johnatan Rivero.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesor Comercial - Johnatan Rivero.jpg")
                .TechnicalForest-Bold Johnatan Rivero
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesor Comercial - Martin Altamar.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesor Comercial - Martin Altamar.jpg")
                .TechnicalForest-Bold Martin Altamar
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesora Comercial - Lila Rivera.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesora Comercial - Lila Rivera.jpg")
                .TechnicalForest-Bold Lila Rivera
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesora Comercial - Loraine Lens.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesora Comercial - Loraine Lens.jpg")
                .TechnicalForest-Bold Loraine Lens
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesora Comercial - Nacira Cumplido.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesora Comercial - Nacira Cumplido.jpg")
                .TechnicalForest-Bold Nacira Cumplido
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Asesora Comercial - Nohora León.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Asesora Comercial - Nohora León.jpg")
                .TechnicalForest-Bold Nohora León
                div Asesor Comercial
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Dpto. Garantias - Jeider Ripoll.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Dpto. Garantias - Jeider Ripoll.jpg")
                .TechnicalForest-Bold Jeider Ripoll
                div Dpto. Garantias
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Dpto. Logistica - Daniel Araujo.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Dpto. Logistica - Daniel Araujo.jpg")
                .TechnicalForest-Bold Daniel Araujo
                div Dpto. Logistica
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Servicio Técnico - Juan Ramos.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Servicio Técnico - Juan Ramos.jpg")
                .TechnicalForest-Bold Juan Ramos
                div Servicio Técnico
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          .about-us__team--card.flip-container(data-aos="zoom-in" data-aos-delay="300")
            .flipper
              .front
                img.about-us__team--card-img(src="source/img/team/Servicio Técnico - Raúl Ortiz.jpg")
              .back
                .about-us__team--card-circle
                  img(src="source/img/team/Servicio Técnico - Raúl Ortiz.jpg")
                .TechnicalForest-Bold Raúl Ortiz
                div Servicio Técnico