.about-us__values
  .container
    .row
    .col-12
      h1.about-us__values-title.TechnicalForest-Bold Lo que nos hace únicos
      p.about-us__values-description Estos son nuestros valores institucionales; la esencia que hace
      p.about-us__values-description de CD Cómputo una empresa apasionada con la tecnología.
    .row.about-us__values-container
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card(data-aos="fade-up")
          i.fa.fa-heart
          h2 Pasión
          p Nos apasiona la tecnología por eso contamos con las marcas líderes del sector informático, ofreciendo soluciones para tu empresa u hogar.
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card(data-aos="fade-up" data-aos-delay="100")
          i.fa.fa-user
          h2 Servicio
          p  Creemos que el servicio al cliente y una buena atención hacen la diferencia, ese es uno de nuestros pilares y así podrás descubrirlo en cada visita a CD Cómputo.
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card(data-aos="fade-up" data-aos-delay="200")
          i.fa.fa-star
          h2 Experiencia
          p  Desde el 2000 ofrecemos soluciones integrales para facilitar tu vida. Por eso somos la empresa líder en el mercado informático y tecnológico en Barranquilla.
