.about-us__values
  .container
    .row
    .col-12
      h1.about-us__values-title.TechnicalForest-Bold Lorem ipsum dolor sit amet
      p.about-us__values-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      p.about-us__values-description eiusmod tempor incididunt ut labore et dolore.
    .row.about-us__values-container
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card
          i.far.fa-check-circle
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card
          i.far.fa-check-circle
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .about-us__values-card
          i.far.fa-check-circle
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
