mixin productsBanner(products)
  .products__banner.col-xs-12
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.bg--secondary
        ul.products__types.tabs
          li.item.tabs-link.current(data-tab="tab-1")
            a Computadores
          li.item.tabs-link(data-tab="tab-2")
            a Audio y Video
          li.item.tabs-link(data-tab="tab-3")
            a Proyectores
          li.item.tabs-link(data-tab="tab-4")
            a Impresión
          li.item.tabs-link(data-tab="tab-5")
            a Tablets
          li.item.tabs-link(data-tab="tab-6")
            a Redes y Wifi
          li.item.tabs-link(data-tab="tab-7")
            a Seguridad y CCTV
          li.item.tabs-link(data-tab="tab-8")
            a Gamers
          li.item.tabs-link(data-tab="tab-9")
            a Almacenamiento y Accesorios
          li.item.tabs-link(data-tab="tab-10")
            a Línea corporativa
      .col-lg-8.col-md-8.col-sm-8.col-xs-12.position--relative.bg--grey
        each item, index in products
          .tabs-content(class='tab-' + (index + 1))
            img.products__banner-img(src='./source/img/products/' + item.img + '.png')
            .products__banner-titles
              h1.TechnicalForest-Bold ¿Buscando lo mejor en tecnología?
              p Encuéntralo aquí.
              button.btn.btn-solid--secondary
                span Compra en línea 
                i.fas.fa-angle-right
