mixin productbody(productsItems, carouselItems)
  each item, index in productsItems
    .tabs-content.products__body(class='tab-' + (index + 1))
      .bg--grey
        ul.products__body-brands.row.middle-xs.center-xs.container
          each brand, index in item.brands
            li.products__body-brands-item.col-xs-3
              img(src='./source/img/products/brand/' + brand + '.png' data-aos="zoom-in")
      .products__body-container
        .container.row.center-xs.middle-xs
          .col-lg-6.col-md-6.col-sm-12.col-xs-12
            h1.TechnicalForest-Bold Marcas con respaldo
            .col-xs-8.container--center
              p.products__body-container-paragraph Encuentra en CD Cómputo las principales marcas en tecnología
            button.btn.btn-outline--secondary 
              span Compra en línea 
              i.fas.fa-angle-right
          .col-xs-12.row.center-xs.products__body-products
          .col-lg-7.col-md-7.col-sm-12.col-xs-12.row.margin-bottom--200
            each product, index in item.body.products
              .col-lg-4.col-md-4.col-sm-4.col-xs-6.padding--horizontal-tiny.padding--bottom-50
                .bg--shadow.bg--white(data-aos="zoom-in")
                  img(src='./source/img/products/' + product.img + '.png' width='100%' data-aos="zoom-in")
                .products__body-container-price
                  p=product.price
                  i.fas.fa-arrow-right
        .bg--dark.position--relative
            img.products__body-video--bg.left(src='./source/img/products/products-video-bg.png' data-aos="fade-up" data-aos-delay="100")
            img.products__body-video--bg.right(src='./source/img/products/products-video-bg--left.png' data-aos="fade-up" data-aos-delay="100")
            .container.position--relative
              .col-xs-12.products__body-video-container
                  .row.center-xs
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                      .products__body-video(data-aos="zoom-in" )
                        iframe(width="424" height="238" src="https://www.youtube.com/embed/rWyZOUpKqY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .col-xs-12.products__body-categories
              .container
                .row.products-categories__container
                  h1.TechnicalForest-Bold Busca otras marcas en esta categoría
                  .products-sub-categories__owl-carousel.products-categories.col-xs-12.owl-carousel.owl-theme
                    each categorie in carouselItems
                      .products-categories__item.item
                        .row
                          .col-xs-6.center-xs
                            img(src='./source/img/products/' + categorie.img + '.png' width='40%')
                          .col-xs-6
                            h3.TechnicalForest-Bold= categorie.title
                            p= categorie.description
                            .row.end-xs
                              button.btn.btn-outline--circle-secondary
                                i.fas.fa-arrow-right
                    
                  
