mixin productbody(productsItems)
  each item, index in productsItems
    .tabs-content.products__body(class='tab-' + (index + 1))
      .bg--grey
        ul.products__body-brands.row.middle-xs.center-xs.container
          each brand, index in item.brands
            li.products__body-brands-item.col-xs-3
              img(src='./source/img/products/brand/' + brand + '.png' data-aos="zoom-in")
      .products__body-container.container
        .row.center-xs.middle-xs
          .col-xs-6
            h1.TechnicalForest-Bold=item.body.title
            .col-xs-8.container--center
              p.products__body-container-paragraph=item.body.description
            button.btn.btn-outline--secondary 
              span Compra en línea 
              i.fas.fa-angle-right
          .col-xs-12.row.center-xs.products__body-products
            .col-xs-7.row
              each product, index in item.body.products
                .col-lg-4.col-md-4.col-sm-6.col-xs-12.padding--horizontal-tiny.padding--bottom-50
                  .bg--shadow.bg--white(data-aos="zoom-in")
                    img(src='./source/img/products/' + product.img + '.png' width='100%' data-aos="zoom-in")
                  .products__body-container-price
                    p=product.price
                    i.fas.fa-arrow-right
                  
