- 
  var productsItems = [
    {
      type: 'Parlantes', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'], 
      body: {
        title: 'Lorem ipsum dolor sit amet 1', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'parlantes/parlantes-1'},
          {price: '$80.000', img: 'parlantes/parlantes-2'},
          {price: '$80.000', img: 'parlantes/parlantes-3'},
          {price: '$80.000', img: 'parlantes/parlantes-1'},
          {price: '$80.000', img: 'parlantes/parlantes-2'},
          {price: '$80.000', img: 'parlantes/parlantes-3'},
        ],
      }
    },
    {
      type: 'Subwoofer', 
      img: 'Subwoofer', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['bose', 'sony', 'bose', 'sony'],
      body: {
        title: 'Lorem ipsum dolor sit amet 2', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'subwoofer/subwoofer-1'},
          {price: '$80.000', img: 'subwoofer/subwoofer-2'},
          {price: '$80.000', img: 'subwoofer/subwoofer-3'},
          {price: '$80.000', img: 'subwoofer/subwoofer-1'},
          {price: '$80.000', img: 'subwoofer/subwoofer-2'},
          {price: '$80.000', img: 'subwoofer/subwoofer-3'},
        ],
      }
    },
    {
      type: 'Proyectores', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'],
      body: {
        title: 'Lorem ipsum dolor sit amet 3', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'proyectores/proyectores-1'},
          {price: '$80.000', img: 'proyectores/proyectores-2'},
          {price: '$80.000', img: 'proyectores/proyectores-3'},
          {price: '$80.000', img: 'proyectores/proyectores-1'},
          {price: '$80.000', img: 'proyectores/proyectores-2'},
          {price: '$80.000', img: 'proyectores/proyectores-3'},
        ],
      }
    },
    {
      type: 'Monitores', 
      img: 'Subwoofer', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['bose', 'sony', 'bose', 'sony'],
      body: {
        title: 'Lorem ipsum dolor sit amet 4', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
        ],
      }
    },
    {
      type: 'Televisores', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'],
      body: {
        title: 'Lorem ipsum dolor sit amet 5', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
        ],
      }
    },
    {
      type: 'Televisores', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'],
      body: {
        title: 'Lorem ipsum dolor sit amet 5', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
        ],
      }
    },
    {
      type: 'Televisores', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'],
      body: {
        title: 'Lorem ipsum dolor sit amet 5', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
        ],
      }
    },
    {
      type: 'Televisores', 
      img: 'parlantes', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['sony', 'bose', 'sony', 'bose'],
      body: {
        title: 'Lorem ipsum dolor sit amet 5', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
          {price: '$80.000', img: 'tv/tv-1'},
          {price: '$80.000', img: 'tv/tv-2'},
          {price: '$80.000', img: 'tv/tv-3'},
        ],
      }
    },
    {
      type: 'Monitores', 
      img: 'Subwoofer', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['bose', 'sony', 'bose', 'sony'],
      body: {
        title: 'Lorem ipsum dolor sit amet 4', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
        ],
      }
    },
    {
      type: 'Monitores', 
      img: 'Subwoofer', 
      title: 'Lorem ipsum', 
      description: 'Lorem ipsum', 
      brands: ['bose', 'sony', 'bose', 'sony'],
      body: {
        title: 'Lorem ipsum dolor sit amet 4', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 
        products: [
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
          {price: '$80.000', img: 'monitores/monitores-1'},
          {price: '$80.000', img: 'monitores/monitores-2'},
          {price: '$80.000', img: 'monitores/monitores-3'},
        ],
      }
    },
  ];
- 
  var carouselCategories = [
    {
      title: 'Parlantes',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      url: '',
      img: 'Subwoofer',
    },
    {
      title: 'Subwoofer',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      url: '',
      img: 'Subwoofer',
    },
    {
      title: 'Proyectores',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      url: '',
      img: 'Subwoofer',
    },
    {
      title: 'Monitores',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      url: '',
      img: 'Subwoofer',
    },
    {
      title: 'Televisores',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      url: '',
      img: 'Subwoofer',
    }
  ];
