.gamers__banner.row.middle-xs
  .row.container.middle-xs.center-xs
    .col-xs-12
      h1.gamers__banner-title.TechnicalForest-Bold Lorem ipsum
    .col-xs-8.row
      .col-xs-7.col-md-7.col-sm-12.col-xs-12
        img.gamers__banner-img(src="source/img/gamers/gamers-banner.png")
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.gamers__banner-text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        button.btn.btn-outline--secondary 
          span Compra en línea 
          i.fas.fa-angle-right
      
