.gamers__banner.row.middle-xs
  .row.container.middle-xs.center-xs
    .col-xs-12
      h1.gamers__banner-title.TechnicalForest-Bold Juega sin límites
    .col-xs-8.row
      .col-xs-7.col-md-7.col-sm-12.col-xs-12
        img.gamers__banner-img(src="source/img/gamers/gamers-banner.png")
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.gamers__banner-text
        p Somos distrubuidores autorizados de las principales marcas de accesorios y gadgets que harán que tu computador no conozca límites. Ven y arma tu PC a tu manera y prepárate para jugar sin límites.
        button.btn.btn-outline--secondary 
          span Compra en línea 
          i.fas.fa-angle-right
      
