.contact-us#contact
  .row.container
    div.map--pointer-text Click Aqui!
    div.map--pointer
    div.contact-us__bg-overlay
    img.contact-us__bg(src="source/img/contact-us-bg-2.png")
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.contact-us__text
      i.fas.fa-address-card(data-aos="fade-right")
      h1.contact-us__title.TechnicalForest-Bold(data-aos="fade-right" data-aos-delay="100") Contactanos
      p(data-aos="fade-right" data-aos-delay="200") Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.contact-us__form(data-aos="zoom-in" data-aos-delay="200")
      form(action="https://formspree.io/mfarelo92@gmail.com" method="POST")
        .form__group
          input(type="text" id="name" name="name"  class="form__field" placeholder="Nombre")
          label(for="name" class="form__label") Nombre
        .form__group
          input(type="email" id="email" name="_replyto" class="form__field" placeholder="Email")
          label(for="email" class="form__label") Email
        .form__group
          input(type="text" id="phone" name="phone" class="form__field" placeholder="+57 (555) 5555-555")
          label(for="phone" class="form__label") Telefono
        .form__group
          input(type="text" id="company" name="empresa" class="form__field" placeholder="Empresa")
          label(for="company" class="form__label") Empresa
        .form__group
          textarea(type="message" id="message" name="mensaje" class="form__field" placeholder="Mensaje...")
          label(for="message" class="form__label") Mensaje
        div
          input.btn.btn-solid--secondary(type="submit" value="Enviar") 
    .contact-us__map
      .contact-us--close
        span Sedes
        i.fas.fa-times
      iframe.map-black-white(src="https://www.google.com/maps/d/u/0/embed?mid=1HEGm3HCN1DMtMckXNRJxz8sZYHczMaQr" width="200%" height="280")
      
