.contact-us#contact
  .row.container
    div.map--pointer-text Click Aqui!
    div.map--pointer
    div.contact-us__bg-overlay
    img.contact-us__bg(src="source/img/contact-us-bg-2.png")
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.contact-us__text
      i.fab.fa-whatsapp(data-aos="fade-right")
      h1.contact-us__title.TechnicalForest-Bold(data-aos="fade-right" data-aos-delay="100") Contáctanos
      p(data-aos="fade-right" data-aos-delay="200") ¿Tienes alguna pregunta o comentario que hacernos? Déjanos un mensaje y te responderemos en breve. 
      .footer__contact-us.margin-bottom--20.margin-top--40(data-aos="fade-right" data-aos-delay="300")
        .TechnicalForest-Regular.footer__title Escríbenos
        p 
          a(href="mailto:entas@cdcomputo.co") ventas@cdcomputo.co
        p 
          a(href="http://wa.me/573008032126" target="_blank") +57 3008032126
        .TechnicalForest-Regular.footer__title.margin-top--20 Llámanos
        p 3449822 - 3855026 - 3008155219
      .footer__headquarters.margin-bottom--20(data-aos="fade-right" data-aos-delay="400")
        .TechnicalForest-Regular.footer__title Sedes
        ul 
          li
            p.text--bold Parque Central
            p Cra. 43 #50 - 12 Local: 147 - 154
            p Barranquilla, Colombia
    .contact-us__map
      .contact-us--close
        span Sedes
        i.fas.fa-times
      iframe.map-black-white(src="https://www.google.com/maps/d/u/0/embed?mid=1HEGm3HCN1DMtMckXNRJxz8sZYHczMaQr" width="200%" height="280")
      
