.contact-us
  img.contact-us__bg(src="source/img/contact-us-bg.png")
  .row.container
    .col-lg-6
      h1.contact-us__title.TechnicalForest-Bold Contactanos
      .row
        .col-lg-4
          h3.TechnicalForest-Bold Llámanos
          p 32343243
        .col-lg-4
          h3.TechnicalForest-Bold Escríbenos
          p test@gmail.com
        .col-lg-4
          h3.TechnicalForest-Bold Siguenos
          .contact-us__social
            a
              i.fab.fa-facebook-f
            a
              i.fab.fa-instagram
            a
              i.fab.fa-twitter
      .row.margin-top--40
        .col-lg-12
          h2.TechnicalForest-Bold.margin--flush Sedes
        .col-lg-4
          h3.text--bold Parque Central
          p Cra. 43 #50 - 12
          p Barranquilla, Colombia
        .col-lg-4
          h3.text--bold Parque Central
          p Cra. 43 #50 - 12
          p Barranquilla, Colombia
        .col-lg-4
          h3.text--bold Parque Central
          p Cra. 43 #50 - 12
          p Barranquilla, Colombia
    .col-lg-6
      img(src="source/img/map-bg.png")
      .contact-us__btn
        div.contact-us__btn-icon
          a
            i.fas.fa-envelope
        div.contact-us__btn-icon
          a
            i.fas.fa-map-marker-alt
      
