.footer
  .row.container
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.footer__description.margin-bottom--20
      img(src="source/img/cd-computo-white-logo.png")
      p.footer__paragraph Aquí encontrarás todas las soluciones digitales que buscas al alcance de un clic. Es hora de reimaginar el futuro. Hagámoslo juntos.
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.TechnicalForest-Regular.margin-bottom--20
      ul.footer__index
        li 
          a Home
        li 
          a About Us
        li 
          a Gamers
        li 
          a Proyectos
        li 
          a Productos
        li 
          a Contactanos
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__headquarters.margin-bottom--20
      .TechnicalForest-Regular.footer__title Sedes
      ul 
        li
          p.text--bold Parque Central
          p Cra. 43 #50 - 12 Local: 147 - 154
          p Barranquilla, Colombia
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__contact-us.margin-bottom--20
      .TechnicalForest-Regular.footer__title Escríbenos
      p ventas@cdcomputo.co
      .TechnicalForest-Regular.footer__title.margin-top--20 Llámanos
      p 3449822 - 3855026 - 3008155219
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__social.margin-bottom--20
      .TechnicalForest-Regular.footer__title Siguenos
      a(href="https://www.facebook.com/CDComputo/" target="_blank")
        i.fab.fa-facebook-f
      a(href="https://www.instagram.com/cdcomputo/?hl=es-la" target="_blank")
        i.fab.fa-instagram
      a(href="http://wa.me/573008032126" target="_blank")
        i.fab.fa-whatsapp
          
      
  
