.footer
  .row.container
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.footer__description.margin-bottom--20
      img(src="source/img/cd-computo-white-logo.png")
      p.footer__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.TechnicalForest-Regular.margin-bottom--20
      ul.footer__index
        li 
          a Home
        li 
          a About Us
        li 
          a Gamers
        li 
          a Proyectos
        li 
          a Productos
        li 
          a Contactanos
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__headquarters.margin-bottom--20
      .TechnicalForest-Regular.footer__title Sedes
      ul 
        li
          p.text--bold Parque Central
          p Cra. 43 #50 - 12
          p Barranquilla, Colombia
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__contact-us.margin-bottom--20
      .TechnicalForest-Regular.footer__title Escríbenos
      p test@cdcomputo.co
      .TechnicalForest-Regular.footer__title.margin-top--20 Llámanos
      p 32324324
    .col-lg-2.col-md-2.col-sm-2.col-xs-12.footer__social.margin-bottom--20
      .TechnicalForest-Regular.footer__title Siguenos
      a
        i.fab.fa-facebook-f
      a
        i.fab.fa-instagram
      a
        i.fab.fa-twitter
          
      
  
