head
  title='CDCOMPUTO'
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' href='source/img/CDComputo-logo.png' type='image/x-icon')
  link(rel="stylesheet" href="node_modules/flexboxgrid/dist/flexboxgrid.min.css" type="text/css")
  link(rel='stylesheet', href='node_modules/owl.carousel/dist/assets/owl.carousel.min.css')
  link(rel='stylesheet', href='node_modules/animate.css/animate.min.css')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet")
  link(rel='stylesheet', href='index.scss')
