head
  title='CDCOMPUTO'
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href="source/img/CDComputo-logo.png" type="image/x-icon")
  link(rel='stylesheet', href='index.scss')
