header
  nav.navbar
    .navbar__container.container
      .navbar__brand
        img(src="source/img/logoblack.png")
      .navbar__menu
        .navbar__menu-toggle#menu-toggle
          .navbar__menu-icon
            .bar
            .bar
            .bar
        ul.navbar__list.flex--1.TechnicalForest-Regular
          li.navbar__list-item
            a.text-color--grey-light(href='index.pug') Home
          li.navbar__list-item
            a.text-color--grey-light(href='aboutUs.pug') Conócenos
          li.navbar__list-item
            a.text-color--grey-light(href='gamers.pug') Gamers
          li.navbar__list-item
            a.text-color--grey-light(href='services.pug') Servicios
          li.navbar__list-item
            a.text-color--grey-light(href='products.pug') Productos
          li.navbar__list-item
            a.text-color--grey-light(href='#') Contactanos
          li.navbar__list-item.navbar__separator.text-color--secondary
           span | 
          li.navbar__list-item
            a(href='#').text-color--secondary Compra en línea
