.subscription.row.middle-xs
  .col-lg-11
    .subscription__title.TechnicalForest-Bold Suscríbete
    .subscription__paragraph y recibe las mejores promociones
  .col-lg-1.subscription__icon
    i.fas.fa-angle-right
