.subscription.row.middle-xs
  .col-lg-11
    .subscription__title.TechnicalForest-Bold Suscríbete
    .subscription__paragraph y recibe las mejores promociones
  .col-lg-1.subscription__icon
    i.fas.fa-angle-right
.subscription__modal
  .subscription__container
    .subscription__container--appear
      i.subscription--close.fas.fa-times
      img.subscription--bg-right(src="source/img/contact-us-bg.png")
      img.subscription--bg-left(src="source/img/contact-us-bg.png")
      .container
        .row.middle-xs.center-xs
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            h1.subscription__modal--title.TechnicalForest-Bold Suscríbete
            p.subscription__modal--text Y recibes las mejores 
              span promociones
            .form__group
              input(type="email" id="email" class="form__field" placeholder="Email")
              label(for="email" class="form__label") Email
            div.text-align--center.margin-top--100
              img(src="source/img/cd-computo-white-logo.png" width="50%")
